*{
    padding: 0;
    margin: 0;
}

.logo{
    width:200px;
}

.nav{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

.nav-section a{
 display: flex;
text-decoration: none;
color: gray;
text-transform: lowercase;
 font-family: Arial, Helvetica, sans-serif;
font-weight: 200px;
font-size: 20px;
justify-content: space-between;
}

.navsection a{
 display: flex;
 text-decoration: none;
color: gray;
text-transform: lowercase;
 font-family: Arial, Helvetica, sans-serif;
font-weight: 200px;
font-size: 20px;
justify-content: space-between;  

}

li {
    list-style: none;
    justify-content: space-between;
    word-spacing: 30px;
}

nav ul{
    width: 600px;
    justify-content: space-between;
}

.nav-section{
    display: flex;
    justify-content: space-between;
    word-spacing: 50px;
}

.navsection{
    display: flex;
    justify-content: space-between;
}


.container1{
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 300px;
    justify-content: center;

}

a:hover{
    color: black;
}

.box1{
    display: grid;
    height: 300px;
    margin-left: 70px;
    margin-top: 100px;
}

.p1{
    font-size:40px;
}

.p2{
    font-size: 15px;
}

.buttons{
    display: flex;
    gap: 30px;

}

.buttonp{
    display: flex;
    align-items: center;
}

.b1{
    background-color: blue;
    color: white;
    
}

.b2{
    color: blue;
}

.b3{
    color: blue;
}
.box2{
display: grid;
height: 300px;
color: blue;
margin-top: 100px;
}

.drive{
    width: 500px;
}

.p3{
 font-size: 20px;
 color: gray;
 margin-top: 50px;
 margin-left: 600px;
}

.container2{
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 300px;
    justify-content: center;
    margin-top: 30px;
}

.box3{
display: grid;
height: 300px;
margin-top: 100px;


}
.box3image{

    width: 500px;
}


.box4{

display: grid;
height: 300px;
margin-top: 100px;
}

.p4{
    font-size:30px;
}

.p5{
    font-size: 15px;
    color: grey;
}


.container3{
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 300px;
    justify-content: center;
    margin-top: 30px;
}

.box5{
display: grid;
    height: 300px;
    margin-top:400px;
}

.box6{
display: grid;
     height: 300px;
    margin-top:400px;
}

.box6image{
    width: 500px;
}

.p6{
    font-size: 30px;
}

.p7{
    font-size: 15px;
    color: grey;
}

.container4{
display: grid;
grid-template-columns: 400px 400px;
gap: 300px;
justify-content: center;
margin-top: 10px;
margin-left: 500px;
}

.box7{
display: grid;
height: 300px;
margin-top: 100px;
}

.box8{
display: grid;
height: 300px;
margin-top: 100px;
}

.box7image{
width: 500px;
}

.p8{
font-size: 30px;
}

.p9{
font-size: 15px;
 color: grey;
}

